.homePage {
    padding: 20px 30px;
    flex: 1;
    background-color: #FFF;

    h1 {
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
    }

    p {
        font-size: 12px;
        text-align: right;
    }
}